#### 학습용/테스트 데이터 셋 분리하기 - train_test_split()

In [4]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [3]:
iris = load_iris()
dt_clf = DecisionTreeClassifier()
train_data = iris.data
train_label = iris.target
dt_clf.fit(train_data, train_label)

# 학습용 데이터셋으로 예측 수행하기
pred = dt_clf.predict(train_data)
print('예측 정확도 : ',accuracy_score(train_label, pred))

예측 정확도 :  1.0

In [19]:
iris_data = load_iris()
dt_clf = DecisionTreeClassifier()

X_train, X_test, Y_train, Y_test = train_test_split(iris_data.data, iris_data.target, test_size = 0.3, random_state = 121)

In [20]:
# 예측 정확도 알아보기
dt_clf.fit(X_train, Y_train)
pred = dt_clf.predict(X_test)
accuracy_score(Y_test, pred)

0.9555555555555556

### numpy의 ndarray와 pandas의 DataFrame/Series를 train_test_split() 함수로 분할할 수 있음.

In [22]:
import pandas as pd
iris_df = pd.DataFrame(iris_data.data,columns = iris_data.feature_names)
iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [ ]:
dt_clf = DecisionTreeClassifier()
dt_clf