### pymysql 라이브러리

* mysql을 python에서 사용할 수 있도록 해주는 library
* 설치방법 : pip install pymysql 
    - jupyter notebook에서는 맨 앞에 !를 붙여줌

In [2]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\programdata\anaconda3\lib\site-packages (1.0.2)

### mysql을 python에서 사용하는 경우

### code 작성 순서

#### 1) pymysql 모듈을 import 함
#### 2) pymysql.connect() 함수를 사용해서 MySQL에 연결함
#### 3)       -> connect(host이름, port 번호, DB이름, 암호 등)을 지정함
#### 4) MySQL에 접속 성공하면 Connection객체의 cursor() 를 호출해서
#### 5) Cursor 객체를 생성함
#### 6) Cursor 객체의 excute() 메소드를 사용해서 SQL문장을 DB에 전송함
#### 7) SQL query의 경우, Cursor 객체의 fetchall(), fetchone(), fetchmany() 등의 메소드를 사용해서 Server로 부터 가져온 data를 code에서 활용함
#### 8) DML (insert, update, delete) 문장을 실행하는 경우, Connection 객체의 commit() 메소드를 사용하여 data 변경을 물리적 하드디스크에 저장함

In [14]:
# pymysql 라이브러리 가져오기
import pymysql

In [59]:
# DB에 접속하기 - Connection 객체(db)가 생성됨
conn = pymysql.connect(host = 'localhost', port = 3306, user = 'root', passwd = '1234', db = 'mydb', charset = 'utf8')

In [60]:
# Cursor 객체 생성하기
cursor = conn.cursor()

In [61]:
# sql 구문 작성하기
sql = """
drop table if exists product;
"""
sql2 = """
create table product(
 product_code varchar(20) not null,
 title varchar(200) not null,
 origin_price int,
 discount_price int,
 discount_percent int,
 delivery varchar(2),
 primary key(product_code)
);
"""

In [62]:
# SQL 문 실행하기
cursor.execute(sql)
cursor.execute(sql2)

0

In [63]:
# DB에 Complete 하기
conn.commit()

In [64]:
# DB 연결 끊기
conn.close()

In [81]:
# pymysql 라이브러리 가져오기
import pymysql

# DB에 접속하기 - Connection 객체(db)가 생성됨
conn = pymysql.connect(host = 'localhost', port = 3306, user = 'root', passwd = '1234', db = 'mydb', charset = 'utf8')

# Cursor 객체 생성하기
cursor = conn.cursor()

# sql 구문 작성하기
sql = """
insert into product values ('64699','DBeaver MySQL V2',10000,10000,100,'Y');

"""

# SQL 문 실행하기
cursor.execute(sql)

# DB에 Complete 하기
conn.commit()

# DB 연결 끊기
conn.close()

In [86]:
# pymysql 라이브러리 가져오기
import pymysql

# DB에 접속하기 - Connection 객체(db)가 생성됨
conn = pymysql.connect(host = 'localhost', port = 3306, user = 'root', passwd = '1234', db = 'mydb', charset = 'utf8')

# Cursor 객체 생성하기
cursor = conn.cursor()

# sql 구문 작성하기
sql = """
select * from product;

"""

# SQL 문 실행하기
cursor.execute(sql)
result = cursor.fetchall()

# DB에 Complete 하기
conn.commit()

# DB 연결 끊기
conn.close()

In [87]:
result

(('1223', 'DBeaver MySQL', 10000, 10000, 100, 'Y'),
 ('64699', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y'),
 ('64700', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y'),
 ('64701', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y'),
 ('64702', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y'),
 ('64703', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y'),
 ('64704', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y'),
 ('64705', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y'),
 ('64706', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y'),
 ('64707', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y'),
 ('64708', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y'),
 ('64709', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y'))

In [88]:
for i in result:
    print(i)

('1223', 'DBeaver MySQL', 10000, 10000, 100, 'Y')
('64699', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y')
('64700', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y')
('64701', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y')
('64702', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y')
('64703', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y')
('64704', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y')
('64705', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y')
('64706', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y')
('64707', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y')
('64708', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y')
('64709', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y')

In [92]:
# pymysql 라이브러리 가져오기
import pymysql

# DB에 접속하기 - Connection 객체(db)가 생성됨
conn = pymysql.connect(host = 'localhost', port = 3306, user = 'root', passwd = '1234', db = 'mydb', charset = 'utf8')

# Cursor 객체 생성하기
cursor = conn.cursor()

# sql 구문 작성하기
for idx in range(1,11):
    code = str(64699 + idx)
    sql = """
        insert into product values ("""+code+""",'DBeaver MySQL V2',10000,10000,100,'Y');

    """

    # SQL 문 실행하기
    cursor.execute(sql)

# DB에 Complete 하기
conn.commit()

# DB 연결 끊기
conn.close()

In [93]:
for i in result:
    print(i)

('1223', 'DBeaver MySQL', 10000, 10000, 100, 'Y')
('64699', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y')
('64700', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y')
('64701', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y')
('64702', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y')
('64703', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y')
('64704', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y')
('64705', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y')
('64706', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y')
('64707', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y')
('64708', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y')
('64709', 'DBeaver MySQL V2', 10000, 10000, 100, 'Y')

In [95]:
# pymysql 라이브러리 가져오기
import pymysql

# DB에 접속하기 - Connection 객체(db)가 생성됨
conn = pymysql.connect(host = 'localhost', port = 3306, user = 'root', passwd = '1234', db = 'mydb', charset = 'utf8')

# Cursor 객체 생성하기
cursor = conn.cursor()

# sql 구문 작성하기
sql = """
    update product set title = '여름 가디건',origin_price = 2000, discount_price = 1000,discount_percent = 50, delivery = 'N'
    where product_code = 64700;

"""

# SQL 문 실행하기
cursor.execute(sql)
result = cursor.fetchall()

# DB에 Complete 하기
conn.commit()

# DB 연결 끊기
conn.close()

In [97]:
import random
for i in range(10):
    print("insert into students (name, gender, birth, english, math, korean) \
values ('이순신"+str(i)+"','male','1984-04-28',"+str(random.randint(0,100))+","+str(random.randint(0,100))+","+str(random.randint(0,100))+");")

insert into students (name, gender, birth, english, math, korean) values ('이순신0','male','1984-04-28',81,93,26);
insert into students (name, gender, birth, english, math, korean) values ('이순신1','male','1984-04-28',16,37,80);
insert into students (name, gender, birth, english, math, korean) values ('이순신2','male','1984-04-28',56,77,59);
insert into students (name, gender, birth, english, math, korean) values ('이순신3','male','1984-04-28',49,20,81);
insert into students (name, gender, birth, english, math, korean) values ('이순신4','male','1984-04-28',71,97,44);
insert into students (name, gender, birth, english, math, korean) values ('이순신5','male','1984-04-28',71,97,24);
insert into students (name, gender, birth, english, math, korean) values ('이순신6','male','1984-04-28',44,5,20);
insert into students (name, gender, birth, english, math, korean) values ('이순신7','male','1984-04-28',7,58,95);
insert into students (name, gender, birth, english, math, korean) values ('이순신8','male','1984-04-28',94,6,83);
insert into students (name, gender, birth, english, math, korean) values ('이순신9','male','1984-04-28',57,70,69);

In [96]:
import random
print(random.randint(0,100))

63